// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-happycog {}

.icon-repo {
    &[data-name="happycog"]::before {
        background-image: url('atom://atom-happycog/images/hc.svg');
        content: "";
        width: 26px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 16px;
        vertical-align: sub;
    }
}
